@use './button.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
html,
body,
#root {
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(44, 42, 42);
    color: whitesmoke;
}
