* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
html,
body,
#root {
    height: 100%;
    width: 100%;
}


html{
    background-color: rgb(48, 44, 44);
    color: rgb(222, 205, 205);
}
button{
    padding: .7rem 1.5rem;
    margin-top: .5rem;
    border-radius: 1rem;
}